body{
	width: 100%;
	height: 2500px;
	background-color: #fcf6b1;
}

.intro{
	font-size: 15pt;
	color: #e3170a;
	font-family: roboto mono;
	width: 100%;
	margin-top: 8%;
	margin-left: 35%;
	margin-right: 20%;
	width: 40%;

}

.end{
	font-size: 15pt;
	color: #e3170a;
	font-family: roboto mono;
	width: 100%;
	margin-top: 22%;
	margin-left: 43%;
	margin-right: 40%;
	width: 30%;

	

}

.small{
	font-size: 11pt;
	color: #a9e5bb;
	font-family: roboto mono;
	width:100%;
	margin-top: 13%;
	float: left;
	margin-left: -.5%;
}

.one{
	animation-name:start;
  	animation-duration: 6s; 
  	animation-delay: 1s;
  	animation-iteration-count: infinite;
  	animation-fill-mode: none;
  	animation-play-state: running;
  	display: inline-block;
  	
 }



@-webkit-keyframes start
{
 0%{color:#a9e5bb}

 14%{color: #a9e5bb}

 15%{color: #e3170a}

45%{color: #e3170a}

50%{color: #e3170a}

98%{color:#e3170a}

100%{color: #a9e5bb}
}

.first{
	animation-name:like;
  	animation-duration: 6s; 
  	animation-delay: 1s;
  	animation-iteration-count: infinite;
  	animation-fill-mode: none;
  	animation-play-state: running;
  	display: inline-block;
  	
 }



@-webkit-keyframes like
{
 0%{color:#a9e5bb}

 29%{color: #a9e5bb}

 30%{color: #e3170a}

98%{color: #e3170a}

100%{color: #a9e5bb}
}

.second{
	animation-name:dogs;
  	animation-duration: 6s; 
  	animation-delay: 1s;
  	animation-iteration-count: infinite;
  	animation-fill-mode: none;
  	animation-play-state: running;
  	display: inline-block;
  	
 }



@-webkit-keyframes dogs
{
 0%{color:#a9e5bb}

45%{color: #a9e5bb}

50%{color: #e3170a}

55%{color: #a9e5bb}

60%{color: #e3170a}

65%{color:#a9e5bb}

70%{color:#e3170a}

75%{color: #a9e5bb}

80%{color:#e3170a}

99%{color: #e3170a}

100%{color: #a9e5bb}



}







