body{
	background-color: black;
	color: black;
	font-family: 'Hind', sans-serif;

}

.image{
	position:relative;
	margin-bottom: 50px;

}

.diana{
	margin-left: 50px;
	margin-right: 50px;
	float:right;

}

.short{
	width: 532px;
	text-align: left;

}

.smile{
	margin-left: 50px;
	margin-right: 50px;
	float: left;


}

h1{
	color: white;
	text-align: left;
	font-size: 50px;
	position: absolute;
	width:700px;
	left: 50px;
	bottom:20px;
	line-height: 52px;


	
}

p{
	font-size: 17px;
	text-align: left;
	line-height: 26px;
	width: 900px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	
}

h3{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: -10px;
	margin-top: -15px;
	color: #f3352e;
	line-height: 30px;

}

#container{
	background-color: white;
	float:center;
	width: 1000px;
	height: auto;
	margin: auto;




}
