/* This is the animation code. */
body{
   background: #fd734a;
}

@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   color: green;
   font-family: helvetica;
   font-size: 20pt;
   animation-iteration-count: infinite;
}


@-webkit-keyframes example2 {
   from { 
      transform: scale(5.0); 
   }
   to   { 
      transform: scale(1.0); 
   }
}

.colorbox2 {
   -webkit-animation-name: example2;
   -webkit-animation-duration: 2s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 700px;
   margin-top: 100px;
   height: 300px;
   width: 300px;
   color: #0bbfb8;
   border-radius: 50%;
   font-size: 30pt;
   font-family: helvetica;
   animation-iteration-count: infinite;
}

@keyfram2 slide2 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 500px;
    top: 100px;
  }
  100% {
    left: 900px;
    top: 0;
  }
}


.background2 {
  border-radius: 30px;
  height: 300px;
  position: relative;
  min-width: 538px;
  width: 600px;
  margin-top:-700px; 
  animation-name: slide2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



.dot2 {
   color: #bd0086;
   font-family: helvetica;
   font-size: 15pt;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}